*{
  font-family:  'Inconsolata', monospace;
  margin: 0;
}
h1,h3,p{
  margin-bottom: 10px;
}
nav{
  width: 100%;
  display: inline-block;
  background-color: white;
}
#navH1{
  display: inline-block;
  margin: 10px;
  color:black;
  cursor: pointer;
}
.containerNav{
  float: right;
  right: 60px;
  position: relative;
  margin: 10px;
  line-height: 25.6px;
}
.aNav{
  color: black;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
  padding: 15px;
  margin-left: -8px
}
.background_Image{
  background-image: url("programmingImg.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  padding: 150px 0 150px 0;
  max-width:100%;
  position: relative;
  z-index: 0;
}
.background_Image_meeting{
  background-image: url("meetings.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  padding: 150px 0 150px 0;
  max-width:100%;
  position: relative;
  z-index: 0;
}
.background_Image_help{
  background-image: url("help.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  padding: 150px 0 150px 0;
  max-width:100%;
  position: relative;
  z-index: 0;
}
.background_Image_contact{
  background-image: url("contact.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  padding: 150px 0 150px 0;
  max-width:100%;
  position: relative;
  z-index: 0;
}
.background_Image_help::before,.background_Image_meeting::before,.background_Image::before,.background_Image_contact::before{
  content: " ";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(10, 10, 10, 0.4);
}
/* .pContainer{
  display: inline-grid;
} */
.home_message_conatiner{
  margin: 0 auto;
  padding: 0 15px;
}
.h1_heading{
  font-size: 50px;
  color: white;
  letter-spacing: 5px;
  font-weight: bold;
}
#home_message{
  color: white;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-size: 25px;
  background-color: rgba(255, 145, 58, 0.6);
  display: table;
  margin-bottom: 5px;
}
.section{
  background:whiteSmoke;
  padding: 20px;
}
#section_2{
  text-align: center;
}
.JourneyStatContainer{
  padding: 10px;
  display: inline-flex;
}
.JourneyStat{
  padding: 0 80px;
}

.item-title{
  padding: 10px;
  background: orange;
}
.item-content{
  padding: 10px;
  background: white;
  display: none;
}
.contact_container{
  padding: 10px;
}
.profile_picture{
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
#selected{
  background-color:black;
  color: white;
}
footer{
  padding: 10px;
  background: rgb(30,30,30);
  color:white;
}
